{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container-fluid">
    {% include 'inc/navbar.html.twig' %}
<!-- ============= Website information  ================ -->
    <div class="container">
      <div class="row subpage">
        <div class="col-sm-2">
          <ul>
          {% for key,value in submenus %}
            <a href="{{ value }}"><li>{{ key }}</li></a>
          {% endfor %}
          </ul>
        </div>
        <div class="col-sm-4">
          <img src='{{ imgurl }}' class="img-responsive">
        </div>
        <div class="col-sm-6">
          <h2>{{ title }}</h2>
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
